<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>www</title>
</head>
<body>
<p>total users: {{ total_users }}</p>
<p>total balance: {{ total_balance }}</p>
<p>total investors: {{ total_investors }}</p>
<p>total invited users: {{ total_inviters }}</p>

</body>
</html>
